<h1>Job Experience</h1>

<div class="containerExperience">
  <div class="cardExperience">
    <h3 class="jobTitle">{{firstExperience.job}}</h3>
    <h4 class="companyName">{{firstExperience.company}}</h4>
    <p class="timePeriod">{{firstExperience.timePeriod}}</p>
    <p class="jobDescription">Descrição: {{firstExperience.description}}</p>
  </div>

  <div class="cardExperience">
    <h3 class="jobTitle">{{secondExperience.job}}</h3>
    <h4 class="companyName">{{secondExperience.company}}</h4>
    <p class="timePeriod">{{secondExperience.timePeriod}}</p>
    <p class="jobDescription">Descrição: {{secondExperience.description}}</p>
  </div>
</div>



