<h1>{{experienceData.title}}</h1>

<div class="containerExperience">
  <div class="cardExperience">
    <h3 class="jobTitle">{{experienceData.experience1.job}}</h3>
    <h4 class="companyName">{{experienceData.experience1.company}}</h4>
    <p class="timePeriod">{{experienceData.experience1.timePeriod}}</p>
    <p class="jobDescription">Descrição: {{experienceData.experience1.description}}</p>
  </div>

  <div class="cardExperience">
    <h3 class="jobTitle">{{experienceData.experience2.job}}</h3>
    <h4 class="companyName">{{experienceData.experience2.company}}</h4>
    <p class="timePeriod">{{experienceData.experience2.timePeriod}}</p>
    <p class="jobDescription">Descrição: {{experienceData.experience2.description}}</p>
  </div>
</div>



