body {
  background-color: black;
  color: #ffffff
}

main {
  display: flex;
}

aside {
  width: 20%;
  height: auto;
  /* padding: 1vw; */
}

.pageContainer {
  width: 80%;
  padding: 5px;
}

footer {
  width: 100%
}
