<aside class="container">
    <div class="left-side">
        <div class="profileHeader">
            <div class="imgBox">
                <img src="{{ asideData.profile.image }}" >
                <img src="./images/img.jpg" >
            </div>
            <div>
                <h2>{{ asideData.profile.name }}<br><span>{{ asideData.profile.function }}</span></h2>
            </div>
        </div>

        <div class="dados">
            <div>
                <ul>
                    <li>
                        <span class="text">{{ asideData.dados.info1.field1 }}</span>
                    </li>
                    <li>
                        <span class="text">{{ asideData.dados.info1.field2 }}</span>
                    </li>
                    <li>
                        <span class="text">{{ asideData.dados.info1.field3 }}</span>
                    </li>
                </ul>
            </div>
            <div class="resposta">
                <ul>
                    <li>
                        <span class="text">{{ asideData.dados.info2.field1 }}</span>
                    </li>
                    <li>
                        <span class="text">{{ asideData.dados.info2.field2 }}</span>
                    </li>
                    <li>
                        <span class="text">{{ asideData.dados.info2.field3 }}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="contactInfo education">
            <h3 class="tittle">{{ asideData.knowledge.title }}</h3>
            <ul>
                <li>
                    <span class="icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text">{{ asideData.knowledge.knowledge1 }}, {{ asideData.knowledge.knowledge2 }}</span>
                </li>
                <li>
                    <span class="icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text">{{ asideData.knowledge.knowledge3 }}, {{ asideData.knowledge.knowledge4 }}, {{ asideData.knowledge.knowledge5 }}</span>
                </li>
                <li>
                    <span class="icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text">{{ asideData.knowledge.knowledge6 }}, {{ asideData.knowledge.knowledge7 }}, {{ asideData.knowledge.knowledge8 }}</span>
                </li>
            </ul>
        </div>

        <div class="idiomas">
            <h3 class="tittle">{{ asideData.languages.title }}</h3>
            <ul>
                <li>
                    <span class="text">{{ asideData.languages.language1.languageName }}</span>
                    <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:{{asideData.languages.language1.languageLevel}}"></div>


                </li>
                <li>
                    <span class="text">{{ asideData.languages.language2.languageName }}</span>
                    <div role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="--value:{{asideData.languages.language2.languageLevel}}"></div>

                </li>
                <li>
                    <span class="text">{{ asideData.languages.language3.languageName }}</span>
                    <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:{{asideData.languages.language3.languageLevel}}"></div>

                </li>
            </ul>
        </div>

        <div class="contactInfo languages">
            <h3 class="tittle">{{ asideData.coding.title }}</h3>
            <ul>
                <li>
                    <span class="text">{{ asideData.coding.lang1.langName }}</span>
                    <span class="percent"><div style="--valor:{{asideData.coding.lang1.langLevel}}"></div></span>

                </li>
                <li>
                    <span class="text">{{ asideData.coding.lang2.langName }}</span>
                    <span class="percent"><div style="--valor:{{asideData.coding.lang3.langLevel}}"></div></span>

                </li>
                <li>
                    <span class="text">{{ asideData.coding.lang3.langName }}</span>
                    <span class="percent"><div style="--valor:{{asideData.coding.lang3.langLevel}}"></div></span>

                </li>
            </ul>
        </div>

        <div class="idiomas">
            <h3 class="tittle">Contact Info</h3>
            <ul>
                <li>
                    <span class="icon"><a href="{{asideData.contactInfo.telephone}}"><i class="fa fa-phone"></i></a></span>

                </li>
                <li>
                    <span class="icon"><a href="{{asideData.contactInfo.email}}"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>

                </li>
                <li>
                    <span class="icon"><a href="{{asideData.contactInfo.website}}"><i class="fa fa-globe" aria-hidden="true"></i></a></span>

                </li>
                <li>
                    <span class="icon"><a href="{{asideData.contactInfo.linkedin}}"><i class="fa-brands fa-linkedin-in" aria-hidden="true"></i></a></span>

                </li>
                <li>
                    <span class="icon"><a href="{{asideData.contactInfo.pinterest}}"><i class="fa fa-map-marker" aria-hidden="true"></i></a></span>

                </li>
            </ul>
        </div>

    </div>
</aside>
