.contact-form {
  width: 48%;
}

.inputs {
  background-color: #DDD;
}

.button {
  width: 25%;
  margin: 10px;
  background-color: #FCA311;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}
