<p>footer works!</p>
<footer class="container">

    <nav class="social-networks">

      <div class="network">
        <a href="">Facebook
          <img src="" alt="">
        </a>
      </div>

      <div class="network">
        <a href="">Instagram
          <img src="" alt="">
        </a>
      </div>

      <div class="network">
        <a href="">Linkedin
          <img src="" alt="">
        </a>
      </div>

      <div class="network">
        <a href="">Youtube
          <img src="" alt="">
        </a>
      </div>

    </nav>

    <form class="contact-form">

      <fieldset class="inputs">
        <input class="name" name="name" type="text" required placeholder="digite seu nome completo">
      </fieldset>

      <fieldset class="inputs">
        <input class="motive" name="motive" type="text" required placeholder="digite o motivo do seu contato">
      </fieldset>

      <fieldset class="inputs">
        <input class="email" name="email" type="email" required placeholder="digite seu endereço de email">
      </fieldset>

      <fieldset class="inputs">
        <textarea class="mensage" name="mesage" cols="60" rows="10" required placeholder="digite sua mensagem"></textarea>
      </fieldset>

      <input class="button" type="submit" name="button" value="enviar mensagem">

    </form>

</footer>
