<div class="container">

    <!-- Card 1 -->
  <div  class="card">
    <div class="card-field1">
      <span> 10+ </span>
    </div>
    <div class="card-field2">
      <span>  </span>
    </div>
    <div class="card-field3">
        <span> Experência </span>
    </div>
  </div>
          <!-- End Card 1 -->

      <!-- Card 2 -->
  <div  class="card">
    <div class="card-field1">
      <span> 96 </span>
    </div>
    <div class="card-field2">
      <span>  </span>
    </div>
    <div class="card-field3">
        <span> Projetos Entregues </span>
  </div>
</div>
          <!-- End Card 2 -->

      <!-- Card 3 -->
  <div  class="card">
    <div class="card-field1">
      <span> 10 </span>
    </div>
    <div class="card-field2">
      <span>  </span>
    </div>
    <div class="card-field3">
        <span> Tecnologias </span>
    </div>
  </div>
        <!-- End Card 3 -->

        <!-- Card 4 -->
  <div  class="card">
    <div class="card-field1">
      <span> 5,6 </span>
    </div>
    <div class="card-field2">
      <span>  </span>
    </div>
    <div class="card-field3">
        <span> R$ Mio de Resultado </span>
    </div>
  </div>
        <!-- End Card 4 -->


  <!-- End Container -->
</div>
